#modalContainer {
    /* position: absolute; */
    z-index: 2;
    border-radius: 7px;
    background: #ffb300;
    padding: 25px;
    text-align: center;
    /* left: 10%; */
    top: 25%;
    box-shadow: 0px 2px 5px 0px rgb(100, 100, 100);
}

.tone-title {
    color:white;
    font-size: 30pt;
    font-weight:lighter;
    font-family: 'Roboto', sans-serif;
}

a {
    font-family: 'Roboto', sans-serif;
}


#modalButton {
    background-color: #8ce3d4;
}

#contentDump {
    display: none;
}

.mainPage {
    display: none;
}

.collapsible-header {
    background-color: #8ce3d4 !important;
    color: white !important;
}

label {
    font-weight:lighter;
    font-family: 'Roboto', sans-serif;
}

/* label focus color */

.input-field input:focus+label {
    color: #e65100 !important;
}

/* label underline focus color */

.input-field input:focus {
    color: #e65100 !important;
    border-bottom: 1px solid #e65100 !important;
    box-shadow: 0 1px 0 0 #e65100 !important
}

.faceRow{
    margin-left:-203px;
    margin-right:15px;
}

.faceNav {
    background-color: #ffb300;
    height: 750px;
    width: 400px;
    padding-top:10px;
    margin-left:-192px;
    overflow: auto;
}

.selector1 {
    color:white;
    border: 1px solid #fff;
    width: 85%;
    font-size: 20px;
    padding:10px;
    font-weight:lighter;
    font-family: 'Roboto', sans-serif;
    /* margin-top:225px; */
    margin-left:20px;
}


.selector {
    color:white;
    border: 1px solid #fff;
    width: 85%;
    font-size: 20px;
    padding:10px;
    font-weight:lighter;
    font-family: 'Roboto', sans-serif;
    margin-left:20px;
}

.textStats {
    color:white;
    border: 1px solid #fff;
    width: 85%;
    font-size: 20px;
    padding:10px;
    font-weight:lighter;
    font-family: 'Roboto', sans-serif;
    margin-left:20px;
}

.selector:hover, .selector1:hover {
    color: #e65100;
    transition: .1s;
    border: 1px solid #e65100;
}

.resultDisplay {
    background-color: white;
    margin-top:125px;
    height:569px;
    overflow:auto;
}   

.chartTitle {
    position:absolute;
    color:#ffb300;
    border:2px solid #ffb300;
    width:35%;
    top:13%;
    left:38%;
    text-align:center;
    margin:0px;
    font-weight:bold;
    font-family: 'Roboto', sans-serif;
    font-size:30px;
}

.chartInfo {
    position:absolute;
    color:#ffb300;
    border:2px solid #ffb300;
    text-align:left;
    width:15%;
    top:33%;
    left:77%;
    padding:10px;
    font-weight:bold;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    z-index:1;
}