#modalContainer {
    /* position: absolute; */
    z-index: 2;
    border-radius: 7px;
    background: #ffb300;
    padding: 25px;
    text-align: center;
    /* left: 10%; */
    top: 25%;
    box-shadow: 0px 2px 5px 0px rgb(100, 100, 100);
}

.navShift {
    margin-top:64px;
}

.tone-title {
    color:white;
    font-size: 30pt;
    font-weight:lighter;
    font-family: 'Roboto', sans-serif;
}

a {
    font-family: 'Roboto', sans-serif;
}


#modalButton {
    background-color: #8ce3d4;
}

#contentDump {
    display: none;
}

.mainPage {
    display: none;
}

.collapsible-header {
    background-color: #8ce3d4 !important;
    color: white !important;
}

label {
    font-weight:lighter;
    font-family: 'Roboto', sans-serif;
}

/* label focus color */

.input-field input:focus+label {
    color: #e65100 !important;
}

/* label underline focus color */

.input-field input:focus {
    color: #e65100 !important;
    border-bottom: 1px solid #e65100 !important;
    box-shadow: 0 1px 0 0 #e65100 !important
}

.faceRow{
    margin-left:-203px;
    margin-right:15px;
}

.faceNav {
    position:relative;
    background-color: #ffb300;
    height: 750px;
    width: 300px;
    padding-top:10px;
    margin-left:0px;
    overflow: auto;
}

.selector1 {
    color:white;
    border: 1px solid #fff;
    width: 85%;
    font-size: 20px;
    padding:10px;
    font-weight:lighter;
    font-family: 'Roboto', sans-serif;
    /* margin-top:225px; */
    margin-left:20px;
}


.selector {
    color:white;
    border: 1px solid #fff;
    width: 85%;
    font-size: 20px;
    padding:10px;
    font-weight:lighter;
    font-family: 'Roboto', sans-serif;
    margin-left:20px;
}

.textStats {
    color:white;
    border: 1px solid #fff;
    width: 85%;
    font-size: 20px;
    padding:10px;
    font-weight:lighter;
    font-family: 'Roboto', sans-serif;
    margin-left:20px;
}

.selector:hover, .selector1:hover {
    color: #e65100;
    transition: .1s;
    border: 1px solid #e65100;
}

.resultDisplay {
    background-color: white;
    height:600px;
    width:100%;
    overflow:auto;
}   

.chartTitle {
    position:relative;
    color:#ffb300;
    border:2px solid #ffb300;
    width:50%;
    margin:auto;
    margin-top:15px;
    text-align:center;
    font-weight:bold;
    font-family: 'Roboto', sans-serif;
    font-size:30px;
    z-index:2;
}

.chartInfo {
    position:relative;
    color:#ffb300;
    border:2px solid #ffb300;
    text-align:left;
    padding:10px;
    font-weight:bold;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    z-index:3;
}

/* #searchChart {
    -webkit-align-self: left;
    align-self: left;
}

@media screen and (max-height: 65vh) {
    #searchChart {
        -webkit-align-self: left;
        align-self: left;
    }
} */