<<<<<<< HEAD
.card{
    margin-top: 30%;
    
}
=======
.cardBtn {
    color:white !important;
}

.cardBtn:hover {
    color: #e65100 !important;
    transition: .1s;
} 
>>>>>>> 5b7a317e51e5db39df38215fbd20f8955021d40f
