.signinBody {
    background-color: #ffb300;
    padding:10px;
    width:100%;
    height:900px;
}

.toneRouteForm {
    text-align: center;
    margin-left:20px;
    width:  46% !important; 
    height:  100px !important; 
}


h3 {
    font-weight: lighter;
    font-size: 80px;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h4 {
    font-weight: lighter;
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    color: #fff;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 0;
}

.btn {
    color: #ff8f00 !important;
    background-color:white;
    text-align: center;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.linkBtn {
    color: #ff8f00 !important;
}

.submit {
    color: #ff8f00 !important;
}

/* label focus color */
.input-field input:focus + label {
    color: #e65100 !important;
}
  /* label underline focus color */
.input-field input:focus {
    color: #e65100 !important;
    border-bottom: 1px solid #e65100 !important;
    box-shadow: 0 1px 0 0 #e65100 !important
}

.signInDiv {
    background-color: #ffb300;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding:5px;
    width: 23%;
    margin-left:20px;
    margin-right:5px;
    float:left;
}

.signInDiv:hover {
    color: #e65100;
    transition: .1s;
    border: 1px solid #e65100;
}

.createDiv {
    background-color: #ffb300;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding:5px;
    margin-left:25%;
    width: 23%;
}

.createDiv:hover {
    color: #e65100;
    transition: .1s;
    border: 1px solid #e65100;
}

.signinPic {
    position: absolute;
    right: 30px;
    top: 270px;
    width: 50%;
    
}

@media screen and (max-width: 768px) {
    .signInDiv {
        background-color: #ffb300;
        color: #fff;
        border: 1px solid #fff;
        text-align: center;
        font-weight: lighter;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        padding:5px;
        width: 21%;
        margin-left:20px;
        margin-right:5px;
        float:left;
    }

    .createDiv {
        background-color: #ffb300;
        color: #fff;
        border: 1px solid #fff;
        text-align: center;
        font-weight: lighter;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        padding:5px;
        margin-left:24%;
        width: 21%;
    }

}

@media screen and (max-width: 400px) {
    .signInDiv {
        background-color: #ffb300;
        color: #fff;
        border: 1px solid #fff;
        text-align: center;
        font-weight: lighter;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        padding:5px;
        width: 20%;
        margin-left:20px;
        margin-right:5px;
        float:left;
    }

    .createDiv {
        background-color: #ffb300;
        color: #fff;
        border: 1px solid #fff;
        text-align: center;
        font-weight: lighter;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        padding:5px;
        margin-left:27%;
        width: 29%;
    }
}

@media screen and (max-width: 414px) {
    .signInDiv {
        background-color: #ffb300;
        color: #fff;
        border: 1px solid #fff;
        text-align: center;
        font-weight: lighter;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        padding:5px;
        width: 20%;
        margin-left:20px;
        margin-right:5px;
        float:left;
    }

    .createDiv {
        background-color: #ffb300;
        color: #fff;
        border: 1px solid #fff;
        text-align: center;
        font-weight: lighter;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        padding:5px;
        margin-left:27%;
        width: 29%;
    }
}