.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    /* position: relative; */
    right:0;
    left:auto;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #8ce3d4;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter
}

.chat-bar {
    width: 170px;
    position: absolute;
    bottom:50px;
}

li {
    text-align: right;
}