.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    position: relative;
    right:0;
    left:auto;
    /* top:0 */
}

.collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    text-align: left;
}

.chat-bar {
    width: 170px;
    position: relative;
}

li {
    text-align: right;
}