h3 {
    font-weight: lighter;
    font-size: 80px;
    color: #fff;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 0;
}

h4 {
    font-weight: lighter;
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-bottom: 0;
}

span, .btn {
    color: #ff8f00;
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
    margin-top: 0;
}

#p1 {
    font-weight: lighter;
    font-size: 20px;
}

/* label focus color */
.input-field input:focus + label {
    color: #e65100 !important;
  }
  /* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #e65100 !important;
    box-shadow: 0 1px 0 0 #e65100 !important
  }