 .nav-item_title {
    font-size: 12px;
    line-height: 0px;
    display:block;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
 }
 .mainNav{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 5;
 }

 .vLogo {
     height:51px;
     margin-top:5px;
 }

 .home-icon {
    margin:-8px;
    margin-left: -9px;
 }

 .tone-icon {
    margin:-8px;
    margin-left: -5px;
 }

 .personality-icon {
    margin:-8px;
    margin-left: -12px;
 }

 .face-icon {
    margin:-8px;
    margin-left: -9px;
 }

 .account-icon {
    margin:-8px;
    margin-left: -9px;
 }

 .search-icon {
    margin:-8px;
    margin-left: -10px;
 }

 .brand-logo {
     margin-left: 20px;
 }

 .icon-container:hover, .nav-item_title:hover {
    color: #e65100;
    transition: .1s;
} 